# French-Style Mortgage Calculator

Calculates monthly payments for a French-style (annuity) mortgage with a complete amortization schedule.

In [9]:
106650 * 0.7

74655.0

In [ ]:
import pandas as pd
import numpy as np

# ===== INPUT PARAMETERS =====
interest_rate_annual = 3.5  # Annual interest rate in percentage
number_of_years = 25  # Loan term in years
total_borrowed = 74_200  # Total loan amount
# ============================

# Convert to monthly values
monthly_interest_rate = (interest_rate_annual / 100) / 12
number_of_months = number_of_years * 12

# Calculate monthly payment using French mortgage formula
if monthly_interest_rate > 0:
    monthly_payment = total_borrowed * (monthly_interest_rate * (1 + monthly_interest_rate)**number_of_months) / \
                      ((1 + monthly_interest_rate)**number_of_months - 1)
else:
    monthly_payment = total_borrowed / number_of_months

# Generate amortization schedule
amortization_data = []
remaining_balance = total_borrowed
total_interest_paid = 0
total_principal_paid = 0

for month in range(1, number_of_months + 1):
    interest_payment = remaining_balance * monthly_interest_rate
    principal_payment = monthly_payment - interest_payment
    remaining_balance = remaining_balance - principal_payment
    total_interest_paid += interest_payment
    total_principal_paid += principal_payment
    
    amortization_data.append({
        'Month': month,
        'Total Monthly Payment': round(monthly_payment, 2),
        'Principal Payment': round(principal_payment, 2),
        'Interest Payment': round(interest_payment, 2),
        'Remaining Balance': round(max(0, remaining_balance), 2),
        'Cumulative Interest': round(total_interest_paid, 2),
        'Cumulative Principal': round(total_principal_paid, 2)
    })

# Create DataFrame
amortization_df = pd.DataFrame(amortization_data)

# Display summary
print("=" * 60)
print("MORTGAGE SUMMARY")
print("=" * 60)
print(f"Principal Amount:           ${total_borrowed:>15,.2f}")
print(f"Annual Interest Rate:       {interest_rate_annual:>15.2f}%")
print(f"Loan Term:                  {number_of_years:>15} years")
print(f"Monthly Payment:            ${monthly_payment:>15,.2f}")
print(f"Total Amount Paid:          ${monthly_payment * number_of_months:>15,.2f}")
print(f"Total Interest Paid:        ${total_interest_paid:>15,.2f}")
print("=" * 60)
print()

# Display DataFrame
amortization_df

============================================================
MORTGAGE SUMMARY
============================================================
Principal Amount:           $      73,000.00
Annual Interest Rate:                  3.50%
Loan Term:                               25 years
Monthly Payment:            $         365.46
Total Amount Paid:          $     109,636.56
Total Interest Paid:        $      36,636.56
============================================================

,Month,Total Monthly Payment,Principal Payment,Interest Payment,Remaining Balance,Cumulative Interest,Cumulative Principal
0,1,365.46,152.54,212.92,72847.46,212.92,152.54
1,2,365.46,152.98,212.47,72694.48,425.39,305.52
2,3,365.46,153.43,212.03,72541.05,637.41,458.95
3,4,365.46,153.88,211.58,72387.17,848.99,612.83
4,5,365.46,154.33,211.13,72232.85,1060.12,767.15
...,...,...,...,...,...,...,...
295,296,365.46,360.17,5.28,1451.22,36625.96,71548.78
296,297,365.46,361.22,4.23,1090.00,36630.20,71910.00
297,298,365.46,362.28,3.18,727.73,36633.38,72272.27
298,299,365.46,363.33,2.12,364.39,36635.50,72635.61
299,300,365.46,364.39,1.06,0.00,36636.56,73000.00